.handwritten {
  font-family: 'Rock Salt', arial, serif; 
  font-size: 30px;
}

header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

a, a:visited {
  color: #00e;
}

.buttonlink {
  text-align: center;
}

.buttonlink a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.buttonlink a:hover {
  text-decoration: underline;
}
